body {
    background-color: #030c47;
    font-family: 'Caveat Brush';
}
h1 {
    color: #9ad6fc;
}
h2 {
    color: #9ad6fc;
}
.centreHeading {
    margin: auto;
    border: 2px #ebf7ff;
    padding: 30px;
    background: #ebf7ff;
    color: #030c47;
}
.centreBox {
    margin: auto;
}
.centreText {
    text-align:center;
}
p {
    color: #ebf7ff;
}
/* 
fallback fonts???

add more colour options later
 - #c5c0f0

Dark Mode:
 - B: #292457
 - H: #aaddfd
 - P: #f0e9c0
*/