body {
    background-color: #030c47;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: #9ad6fc;
}
h2 {
    color: #9ad6fc;
}
.blueColour {
    color: #9ad6fc;
}
.centreHeading {
    margin: auto;
    border: 2px #ebf7ff;
    padding: 30px;
    background: #ebf7ff;
    color: #030c47;
}
.centreBox {
    margin: auto;
    width: 50%;
}
.centreText {
    text-align: center;
}
p {
    color: #ebf7ff;
}
.button {
    color: #ebf7ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 50%;
    cursor: pointer;
}
.aboutMeButton {
    background-color: #030c47;
    font-family:'Times New Roman', Times, serif;
    border: 4px #ebf7ff;
    /* border-radius: 8px; */

}
/* 
fallback fonts???

add more colour options later
 - #c5c0f0

Dark Mode:
 - B: #292457
 - H: #aaddfd
 - P: #f0e9c0
*/