h1 {
    color: #9ad6fc;
}
h2 {
    color: #9ad6fc;
}
h3 {
    color: #9ad6fc;
}
.blueColour {
    color: #9ad6fc;
}
.centreHeading {
    margin: auto;
    border: 2px #ebf7ff;
    padding: 30px;
    background: #ebf7ff;
    color: #030c47;
}
.centreBox {
    margin: auto;
    width: 50%;
}
small {
    color: #ebf7ff;
}
.centreText {
    text-align: center;
}
p {
    color: #ebf7ff;
}
li {
    color: #ebf7ff;
}
s {
    color: #ebf7ff;
}
hr {
    color: #d3d4db;
}
i {
    color: #9ad6fc !important;
}
.button {
    color: #ebf7ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Caveat';
    font-size: 18px;
    cursor: pointer;
    background-color: #030c47;
    border: 4px solid #ebf7ff;
    border-radius: 8px;
}
.currentButton {
    color: #9ad6fc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Caveat';
    font-size: 18px;
    cursor: pointer;
    background-color: #030c47;
    border: 4px solid #9ad6fc;
    border-radius: 8px;
}

/* 
fallback fonts???

add more colour options later
 - #c5c0f0

Dark Mode:
 - B: #292457
 - H: #aaddfd
 - P: #f0e9c0

    - OMG WHEN JAVAAA YAYY
*/

/* just for little museum */
.leftBox {
    /* centreBox*/
    margin: auto;
    width: 50%;

    text-align: left;
}
.rightBox {
    /* centreBox*/
    margin: auto;
    width: 50%;

    text-align: right;
}